
.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
 /* width: 50%;*/
} 
p {
  color: black;
}

.main {
  display: block;
  margin-left:auto;
  margin-right:auto;
  position:absolute;
  width:100%;
  left:0;
  right: 0;
  padding: 10%;
}


 /* Small Devices, Tablets */
 @media only screen and (max-width: 320px) {
  .main {
    display: block;
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    padding-left: 25%;
  } 
 }

 