.project-detail {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.project_image img {
  border-radius: 10px;
}

.project-content {
  box-sizing: border-box;
  font-weight: 300;
  float: right;
  border-radius: 20px;
  width: 49%;
  height: 300px; 
  background: white;
  padding: 20px;
  
}

h2 {
  text-align: center;
}

